.photo-content {
  &__intro {
    padding: 0 20px;
  }

  &__gallery {
    @include container-mobile;
  }

  &__text {
    margin: 0;
    padding: 47px 0;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;

    &--bottom {
      padding: 23px 0;
    }
  }

  &__main-post {
    margin-bottom: 18px;

    .photo-content__comment-wrap {
      margin: 0 20px;
    }
  }

  &__main-image {
    position: relative;
    margin: 0 auto;

    &::before {
      position: absolute;
      content: "Панорама дня";
      background: #d22856;
      top: 0;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
      text-align: center;
      padding-top: 12px;
      right: 18px;
      width: 140px;
      height: 25px;
    }
  }

  &__image {
    @include img-responsive;
    margin: 0 auto;
  }

  &__background-image {
    @include img-responsive;
  }

  &__gallery-item {
    margin-bottom: 18px;
  }
}

@media (min-width: 660px) {
  .photo-content {
    &__main-post {
      margin-bottom: 45px;

      .photo-content__comment-wrap {
        @include container-tablet;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
      }
    }

    &__text {
      margin: 0 auto;
      font-size: 20px;
      max-width: 500px;
      padding: 93px 0 45px;
    }

    &__main-image {
      max-width: none;

      &::before {
        top: 57px;
        right: 40px;
      }
    }

    &__gallery {
      @include container-tablet;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-item {
        width: 300px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .photo-content {
    &__intro {
      min-height: 240px;
    }

    &__text {
      max-width: 800px;
    }

    &__main-image {
      max-width: none;

      &::before {
        top: 54px;
        right: 129px;
      }
    }

    &__main-post {
      .photo-content__comment-wrap {
        @include container-desktop;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &__gallery {
      @include container-desktop;

      &-item {
        margin-bottom: 52px;
      }
    }
  }
}
