.main-nav {
	background: #283645;
	display: flex;
	flex-direction: column;

	&__logo {
		&:hover {
			fill: #d22856;
		}

		&:active {
			fill: #6c7681;
		}
	}

	&__logo-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		@include container-mobile;
		padding-top: 22px;
		padding-bottom: 22px;
	}

	&__logo--mobile {
		fill: #ffffff;
		width: 80px;
		height: 21px;
	}

	&__list-item {
		padding: 21px 0;
		border-top: 1px solid #485461;
		border-bottom: 1px solid #000;
		&--active .main-nav__link {
			color: #d22856;
		}

		&:active .main-nav__link{
			color: #5f3750;
		}
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		border-top: 1px solid #000;
	}

	&__link {
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 18px;
		&:hover {
			color: #d22856;
		}
	}

	&__toggle-menu-button {
		position: relative;
		display: block;
		width: 40px;
    	height: 20px;
		background: transparent;
		border: none;
		outline: none;
	
		&:hover::before, &:hover::after{
			background-color: #d22856;
		}
	
		&:active::before, &:active::after {
			background-color: #481729;
		}
		
		&::before {
			content:'';
			position: absolute;
			width: 29px;
			height: 4px;
			left: 15px;
			top: 6px;
			background-color: #fff;
			transform: rotate(45deg);
		}
	
		&::after{
			content:'';
			position: absolute;
			width: 29px;
			height: 4px;
			left: 15px;
			top: 6px;
			background-color: #fff;
			transform: rotate(135deg);
		}
	}

	&__logo--tablet {
		display: none;
	}

	&__logo--desktop {
		display: none;
	}
}

@media (min-width: 660px) {
	.main-nav{
		&__logo--tablet {
			display: block;
			width: 150px;
			height: 42px;
			fill: #ffffff;
		}

		&__toggle-menu-button {
			align-self: flex-end;
		}

		&__logo-wrap {
			@include container-tablet;
			padding: 25px 0 40px 0;
		}

		&__logo--mobile {
			display: none;
		}
	}
}

@media (min-width: 1200px) {
	.main-nav {
		background-color:rgba(0, 0, 0, 0.5);
		

		&__container {
			@include container-desktop;
			display: flex;
			flex-direction: row;
		}
		
		&__list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			&-item {
				border: none;
			}
		}

		&__toggle-menu-button {
			display: none;
		}

		&__logo-wrap {
			width: auto;
			margin-right: 174px;
			margin-left: 0;
			padding-top: 20px;
		}
		&__logo--tablet {
			display: none;
		}

		&__logo--desktop {
			display: block;
			width: 146px;
			height: 50px;
			fill: #ffffff;
		}

		&__link {
			text-transform: none;
		}
	}
}