.offer {
	&__wrap {
		background-image: url('../img/bg-triangle-white.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-color: #f2f2f2;
	}

	&__header {
		margin: 0;
		padding-top: 41px;
	}

	&__slogan {
		display: block;
		text-align: center;
		font-size: 24px;
		font-weight: 100;
		margin-bottom: 33px;
	}

	&__functions {
		padding: 0 20px;
		padding-top: 85px;
	}

	&__pics {
		background-image: url('../img/iphone-screen-mobile.png');
		background-repeat: no-repeat;
		background-position: 50% 7px;
		height: 284px;
	}

	&__pic {
		display: none;
	}
}

@media (min-width: 660px) {
	.offer {
		&__header {
			padding-top: 51px;
		}
		&__wrap {
			background-position: 0 0;
		}
		&__slogan{
			font-size: 40px;
			margin-bottom: 3px;
		}
		&__container {
			display: flex;
			@include container-tablet;
		}
		&__pics {
			background-image: url('../img/iphone-screen-tablet.png');
			background-position: 0% 100%;
			height: auto;
			order: 0;
			flex-grow: 1;
			flex-basis: 50%;
		}
		&__functions {
			padding: 102px 20px 0 0;
		}
	}
}

@media (min-width: 1200px) {
	.offer {
		&__header {
			padding-top: 73px;
			margin-bottom: 76px;
		}

		&__slogan {
			font-size: 50px;
		}

		&__container {
			@include container-desktop;
			display: flex;
			flex-direction: column;
		}

		&__functions {
			padding: 34px 0 0;
		}

		&__pic {
			display: block;
		}

		&__pics {
			display: flex;
			justify-content: space-between;
			background: none;
		}
	}


}
