.photo-upload {
	&__text {
		margin: 0;
		padding: 24px 0 43px;
		text-align: center;
		font-size: 15px;
		line-height: 30px;
	}

	&__container {
		background-color: #f2f2f2;
	}

	&__area {
		@include container-mobile;
		padding: 20px 0 30px;
	}

	&__image {
		@include img-responsive;
		margin: 0 auto;
	}

	&__snaps {
		display: flex;
		justify-content: space-evenly;
		padding: 38px 31px 23px;
	}

	&__snap {
		outline: none;
		background: 0;
		border: 0;
		fill: #b5b9be;

		&:hover {
			fill: #8d949b;
		}

		&--active {
			fill: #d22856;
		}
	}

	&__slides {
		padding: 0 21px;
	}

	&__slide {
		width: 100%;
		-webkit-appearance: none;
		&:focus {
			outline: none;
		}

		&::-webkit-slider-runnable-track {
			background: #000;
			height: 2px;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			border: 2px solid #d22856;
			height: 14px;
			width: 14px;
			border-radius: 10px;
			background: #f2f2f2;
			cursor: pointer;
			margin-top: -6px;
			&:active{
				background: #d22856;
			}
		}
	}
	&__buttons {
		padding-top: 57px;
	}
	&__button {
		display: block;
		margin: 12px auto;
		padding: 14px 0;
		width: 100%;
		border: 3px solid #d22856;
		background: #f2f2f2;
		color: #d22856;
		border-radius: 28px;
		font-size: 19px;
		font-weight: bold;

		&--upload {
			outline: none;
			&:hover{
				background: #d22856;
				color: #fff;
			}

			&:active {
				color: #e06989;
			}
		}


		&--cancel {
			outline: none;
			border: 3px solid #dddfe0;
			color: #dddfe0;
			&:hover{
				border: 3px solid #b5b9be;
				color: #b5b9be;
			}
			&:active {
				color: #cbced2;
				background: #b5b9be;
			}
		}
	}
}
.photo-upload__controls--tablet {
	display: none;
}

@media (min-width: 660px) {
	.photo-upload {
		margin-bottom: 15px;
		&__text {
			font-size: 19px;
			padding: 51px 0 67px;
		}

		&__area {
			@include container-tablet;
			display: flex;
			padding: 0 20px;	
			margin: 0 auto;
		}

		&__image {
			margin: 56px 41px 56px 0;
			max-width: 300px;
		}

		&__button {
			margin: 9px 0 23px 5px;
			width: 261px;
		}
	}
	.photo-upload__controls--tablet {
		display: block;
		width: 300px;

		.photo-upload__snaps{
			flex-wrap: wrap;
			padding: 62px 0px 19px 0px;
			margin: 0;
		}

		.photo-upload__line {
			display: flex;
			width: 100%;
			margin-bottom: 23px;
			padding-bottom: 20px;
			border-bottom: 1px solid #dddfe0;
		}

		.photo-upload__image {
			width: 50%;
		}
		
		.photo-upload__slide{
			background: #f2f2f2;
			margin-left: 23px;
			margin-right: 18px;
		}

		.photo-upload__snap-contrast {
			margin: 0 3px;
		}
		.photo-upload__buttons {
			padding-top: 18px;
		}
	}
	.photo-upload__controls--mobile {
		display: none;
	}
}

@media (min-width: 1200px) {
	.photo-upload {
		margin-bottom: 97px;
		&__container {
			@include container-desktop;
			background: none;
		}

		&__area {
			background: #f2f2f2;
			width: auto;
		}

		&__text {
			padding-top: 6px;
		}

		&__image {
			margin-left: 60px;
		}
	}

	.photo-upload__controls--tablet {
		width: auto;
		padding: 0 43px;
		.photo-upload {
			&__snaps {
				padding: 52px 0 127px;
			}
			&__snap-crop {
				width: 47px;
				height: 47px;
			}

			&__snap-contrast {
				width: 32px;
				height: 36px;
				margin-left: 6px;
			}

			&__snap-fill {
				width: 47px;
				height: 47px;
			}

			&__slide {
				margin-left: 41px;
    			margin-right: 26px;
			}

			&__line {
				padding-bottom: 10px;
				margin-bottom: 12px;
			}

			&__buttons {
				display: flex;
				justify-content: space-between;
				padding: 0;
			}

			&__button {
				width: 184px;
			}
		}
	}
}