.photo-upload {
	&__text {
		margin: 0;
		padding: 24px 0 43px;
		text-align: center;
		font-size: 15px;
		line-height: 30px;
	}

	&__area {
		background-color: #f2f2f2;
		padding: 20px 0 30px;
	}

	&__image {
		display: block;
		margin: 0 auto;
	}

	&__snaps {
		display: flex;
		justify-content: space-evenly;
		padding: 38px 31px 23px;
	}

	&__snap {
		outline: none;
		background: 0;
		border: 0;
		fill: #b5b9be;

		&:hover {
			fill: #8d949b;
		}

		&--active {
			fill: #d22856;
		}
	}

	&__slides {
		padding: 0 38px;
	}

	&__slide {
		width: 100%;
		-webkit-appearance: none;
		&:focus {
			outline: none;
		}

		&::-webkit-slider-runnable-track {
			background: #000;
			height: 2px;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			border: 2px solid #d22856;
			height: 14px;
			width: 14px;
			border-radius: 10px;
			background: #f2f2f2;
			cursor: pointer;
			margin-top: -6px;
			&:active{
				background: #d22856;
			}
		}
	}
	&__buttons {
		padding-top: 57px;
	}
	&__button {
		display: block;
		margin: 12px auto;
		padding: 14px 0;
		width: 280px;
		border: 3px solid #d22856;
		background: #f2f2f2;
		color: #d22856;
		border-radius: 28px;
		font-size: 19px;
		font-weight: bold;

		&--upload {
			outline: none;
			&:hover{
				background: #d22856;
				color: #fff;
			}

			&:active {
				color: #e06989;
			}
		}


		&--cancel {
			outline: none;
			border: 3px solid #dddfe0;
			color: #dddfe0;
			&:hover{
				border: 3px solid #b5b9be;
				color: #b5b9be;
			}
			&:active {
				color: #cbced2;
				background: #b5b9be;
			}
		}
	}
}
.photo-upload__controls--tablet {
	display: none;
}

@media (min-width: 660px) {
	.photo-upload {
		&__text {
			font-size: 19px;
			padding: 51px 0 67px;
		}

		&__area {
			display: flex;
			max-width: 620px;
			padding: 0 20px;	
			justify-content: space-between;
			margin: 0 auto;
		}

		&__image {
			margin: 56px 0;
		}
	}
	.photo-upload__controls--tablet {
		display: block;
		width: 50%;
		.photo-upload__snaps{
			flex-wrap: wrap;
			padding: 62px 0px 23px 0px;
			width: 270px;
			margin: 0 auto;
		}

		.photo-upload__line {
			display: flex;
			width: 100%;
			margin-bottom: 42px;
		}

		.photo-upload__image {
			width: 50%;
		}
		
		.photo-upload__slide{
			background: #f2f2f2;
			margin-left: 20px;
		}

		.photo-upload__snap-contrast {
			margin: 0 3px;
		}
		.photo-upload__buttons {
			padding-top: 18px;
		}
	}
	.photo-upload__controls--mobile {
		display: none;
	}
}