.price {
  background-image: url('../img/bg-triangle-white.svg');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: #f2f2f2;
  background-size: contain;
  padding: 90px 0 47px 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  &__controls {
    display: flex;
    justify-content: center;
  }

  &__btn {
    width: 6px;
    height: 6px;
    margin-right: 20px;
    background-color: #bec2c7;
    border-radius: 50%;
  }

  &__switcher {
    display: none;
  }
}
#price__switcher-1:checked~.price-table {
  transform: translateX(280px);
    transition: 0.5s;
}
#price__switcher-2:checked~.price-table {
  transform: translateX(0px);
    transition: 0.5s;
}
#price__switcher-3:checked~.price-table {
  transform: translateX(-280px);
    transition: 0.5s;
}
#price__switcher-1:checked~.price__controls label[for=price__switcher-1],
#price__switcher-2:checked~.price__controls label[for=price__switcher-2],
#price__switcher-3:checked~.price__controls label[for=price__switcher-3] {
  background-color: #fff;
  border: 3px solid #000;
}

@media (min-width: 660px) {
  .price {
    padding-top: 85px;
    padding-bottom: 67px;
  }
}

@media (min-width: 1200px) {
  .price {
    padding-top: 147px;
    padding-bottom: 96px;
  }
}
