.research {
	display: none;
}

@media (min-width: 660px) {
	.research {
		display: block;
		&__container{
			@include container-tablet;
			background-image: url('/src/img/timer.png');
			background-repeat: no-repeat;
			background-position: 0 100%;
			padding-bottom: 30px;
			box-sizing: border-box;
		}
			

		&__wrap {
			width: 50%;
			margin-left: auto;
		}

		&__heading {
			font-size: 30px;
			margin: 96px 0 16px;
			width: 170px;
		}

		&__text {
			line-height: 23px;
			margin-bottom: 16px;
		}
	}
}

@media (min-width: 1200px) {
	.research {
		background-color: #f2f2f2;
		min-height: 463px;
		
		width: auto;

		&__container {
			@include container-desktop;
			background-position-y: 51px;
			background-size: 298px;
		}

		&__wrap {
			width: 61%;
			margin-left: auto;
			border-top: 1px solid transparent;
		}

		&__heading {
			width: auto;
			font-size: 31px;
			margin-top: 143px;
			margin-bottom: 23px;
		}

		&__text {
			font-size: 19px;
			line-height: 30px;
			margin-bottom: 34px;
		}

		&__link {
			font-size: 19px;
		}
	}
}