.user-post {
	margin: 0 20px 18px 20px;
	background-color: #f2f2f2;
	padding: 20px 17px;
	&__header{
		margin: 0;
		padding-bottom: 5px;
		font-size: 15px;
	}

	&__text {
		margin: 0;
		font-size: 15px;
    	line-height: 24px;
	}

	&__time {
		text-transform: uppercase;
		color: #949aa1;
		font-weight: normal;
	}

	&__row {
		position: relative;
		color: #d22856;
		font-size: 12px;
		text-transform: uppercase;
		padding-left: 28px;
		margin: 15px 0 8px 0;

		&::before {
			content:'';
			position: absolute;
			left: 0;
			width: 13px;
			height: 13px;
			background-image: url(/src/img/like-icon.png);
		}
	}
}